---
import Hi from "./Hi.astro";

interface Props {
  image: string;
  classes: string;
}

const { classes } = Astro.props;
---

<div class=`mockup-browser border-4 border-base-300 ${classes}`>
  <div class="mockup-browser-toolbar">
    <div class="input border-2 border-base-300">hi.com</div>
  </div>
  <div
    class="flex justify-center border-t border-base-300 text-slate-50 window-content"
  >
    <div class="absolute top-[50%]">
      <Hi />
    </div>
  </div>
</div>
