---
import DarkLightMode from "./DarkLightMode.astro";
---

<div
  class="navbar bg-zinc-100 fixed z-50 mx-[38%] mt-[32rem] w-[25%] rounded-2xl shadow-inner shadow-lg opacity-95"
>
  <!-- <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl"></a>
    <DarkLightMode />
  </div> -->

  <div class="flex-none mt-[-3.5rem] ml-[-1rem]">
    <span class="relative flex h-6 w-6">
      <span
        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
      ></span>
      <span
        class="relative inline-flex rounded-full h-6 w-6 bg-green-500 opacity-90"
      ></span>
    </span>
    <!-- <ul class="menu menu-horizontal px-1">
      <li><a class="text-xl">Socials (bento.me)</a></li>
    </ul>
    <a class="btn btn-ghost normal-case text-xl">Newsletter</a> -->
  </div>

  <div class="flex-auto">
    <input
      type="text"
      placeholder="Search my work..."
      class="input input-ghost w-full text-xl bg-zinc-100 border-0"
    />
  </div>
</div>
