---
import BrowserMockup from "./BrowserMockup.astro";
import PhoneMockup from "./PhoneMockup.astro";
---

<div
  class="bg-blue-400 text-blue-400 min-h-screen flex items-center justify-center"
>
  <div class="grid grid-cols-3 gap-2">
    <div class="col-span-2 border-0 p-2 pb-0 rounded">
      <BrowserMockup classes="mb-[-9rem]" />
    </div>
    <div class="border-0 p-2 rounded row-span-2">
      <PhoneMockup classes="" />
    </div>
    <div class="row-span-3 border-0 p-2 rounded">
      <PhoneMockup classes="relative mx-auto h-[50%] w-[40%]" />
    </div>
    <div class="border-0 p-2 rounded"><BrowserMockup /></div>
    <!-- <div class="bg-white p-10 rounded">5</div> -->
    <!-- <div class="bg-white p-10 rounded">6</div> -->
    <div class="col-span-2 border p-2 rounded row-span-1">
      <!-- <PhoneMockup orientation="landscape" /> -->
      <div
        class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px] rotate-90"
      >
        <div
          class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[72px] rounded-l-lg"
        >
        </div>
        <div
          class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[124px] rounded-l-lg"
        >
        </div>
        <div
          class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[178px] rounded-l-lg"
        >
        </div>
        <div
          class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -right-[17px] top-[142px] rounded-r-lg"
        >
        </div>
        <!-- screenshot and container -->
        <div
          class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800"
        >
          <img
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-light.png"
            class="dark:hidden w-[272px] h-[572px]"
            alt=""
          />
          <img
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-dark.png"
            class="hidden dark:block w-[272px] h-[572px]"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- <div class="bg-white p-10 rounded">8</div> -->
    <!-- <div class="bg-white p-10 rounded">9</div> -->
  </div>
</div>
