---
import ImageImporter from "../ImageImporter.astro";
import Hi from "./Hi.astro";

interface Props {
  classes: string;
  imgKeys: Array<String>;
}

const { classes, imgKeys } = Astro.props;
---

<div class=`mockup-window border bg-slate-50 ${classes}`>
  <div class="flex justify-center border-t">
    <!-- <div class="absolute top-[50%]"> -->
    <ImageImporter imgKeys={imgKeys} />
    <!-- </div> -->
  </div>
</div>
