---
import CardPreview from "../components/daisy/CardPreview.astro";
import Footer from "../components/daisy/Footer.astro";
import NavBar from "../components/daisy/NavBar.astro";
import StackedCards from "../components/daisy/StackedCards.astro";
import PhoneMockup from "../components/daisy/PhoneMockup.astro";
import PhoneMockup2 from "../components/daisy/PhoneMockup2.astro";
import BrowserMockup from "../components/daisy/BrowserMockup.astro";
import WindowMockup from "../components/daisy/WindowMockup.astro";
import OldGrid from "../components/daisy/OldGrid.astro";
import ImageImporter from "../components/ImageImporter.astro";
---

<meta charset="UTF-8" />

<script>
  import Muuri from "muuri";

  var dragSortOptions = {
    action: "move",
    threshold: 50,
  };
  var grid = new Muuri(".containerCust", {
    // showDuration: 0,
    // showEasing: "linear",
    dragEnabled: false,
    layout: {
      fillGaps: false,
      // alignRight: true,
      // alignBottom: true,
      // rounding: true,
    },
    dragStartPredicate: function (item, event) {
      // Prevent an item from being dragged.
      if (grid.getItems().indexOf(item) === 5) {
        return false;
      }
      // For other items use the default drag start predicate.
      return Muuri.ItemDrag.defaultStartPredicate(item, event);
    },
    dragSortPredicate: function (item) {
      var result = Muuri.ItemDrag.defaultSortPredicate(item, dragSortOptions);
      return result && result.index === 5 ? false : result;
    },
    dragSort: function () {
      // Change the duration and easing for the drag animation
      return {
        duration: 800, // Set the duration in milliseconds (default is 300)
        easing: "cubic-bezier(0.55, 0.055, 0.675, 0.19)", // Set the easing function (default is 'cubic-bezier(0.2, 0, 0.2, 1)')
      };
    },
  });

  setTimeout(() => {
    // shuffle
    let randomNum = Math.floor(Math.random() * 12);
    const seed = Math.floor(Math.random() * 3);

    if (randomNum + seed > 12) {
      randomNum = 1;
    }

    if (randomNum === 0) {
      randomNum = 1;
    }

    grid.move(0 + randomNum, -1, { action: "move" });
    grid.synchronize();

    document.querySelector(".containerCust").style.visibility = "visible";
  }, 1500);

  addEventListener("dragover", (event) => {
    console.log({ event });
  });

  addEventListener("drop", (event) => {
    console.log({ event });
  });

  addEventListener("dragend", (event) => {
    console.log({ event });
  });

  addEventListener("click", (event) => {
    console.log({ event });
  });

  const itemCustMockups = document.querySelectorAll(".itemCustMockup");

  itemCustMockups.forEach((itemCustMockup) => {
    itemCustMockup.addEventListener("mouseover", (event) => {
      localStorage.setItem("gridShuffle", "off");
      document.getElementById("gridShuffleAlertContainer").style.visibility =
        "visible";
      document.getElementById("gridShuffleAlert").textContent = "❚❚ Paused";
    });

    itemCustMockup.addEventListener("mouseleave", (event) => {
      localStorage.setItem("gridShuffle", "on");
      document.getElementById("gridShuffleAlertContainer").style.visibility =
        "visible";
      document.getElementById("gridShuffleAlert").textContent = "⏵ Resumed";
      setTimeout(() => {
        document.getElementById("gridShuffleAlertContainer").style.visibility =
          "hidden";
      }, 2500);
    });
  });

  let shuffleCtr = 1;

  setInterval(() => {
    const gridShuffle = localStorage.getItem("gridShuffle");

    if (gridShuffle === "on") {
      if (shuffleCtr + 1 > 12) {
        shuffleCtr = 1;
      }

      grid.move(shuffleCtr, shuffleCtr + 1, { action: "swap" });
      shuffleCtr++;

      grid.synchronize();
    }
  }, 2000);
</script>

<div class="bg-gradient-to-r from-blue-500 to-blue-400">
  <!-- <span
    class="box-decoration-clone bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2 ..."
  >
    Hello<br />
     World
  </span> -->

  <div
    class="navbar bg-zinc-400 fixed z-50 mx-[34%] mt-[20rem] w-[33%] h-[24rem] rounded-2xl opacity-25 blur-2xl"
  >
  </div>

  <div class="navbar fixed z-50 mx-[38%] mt-[20rem] w-[50%] rounded-2xl">
    <span
      class="ml-[-11px] font-black text-zinc-100 text-9xl subpixel-antialiased drop-shadow-2xl"
      >Hi 👋</span
    >
  </div>

  <Navbar />

  <div id="gridShuffleAlertContainer">
    <div
      class="gridShuffleAlert navbar bg-zinc-400 fixed z-50 mx-[74%] mt-[8rem] w-[33%] h-[10rem] rounded-2xl opacity-25 blur-2xl"
    >
    </div>

    <div
      class="gridShuffleAlert navbar fixed z-50 mx-[78%] mt-[10rem] w-[50%] rounded-2xl"
    >
      <span
        id="gridShuffleAlert"
        class="ml-[-11px] font-black text-zinc-100 text-6xl subpixel-antialiased drop-shadow-2xl"
      >
        ✓ Resumed
      </span>
    </div>
  </div>

  <!-- <button class="btn" onclick="
  my_modal_1.showModal()
  ">open modal</button>
  <dialog id="my_modal_1" class="modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Hello!</h3>
      <p class="py-4">Press ESC key or click the button below to close</p>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog> -->

  <div class="containerCust text-blue-400">
    <!-- <div class="itemCust item14">
		<div class="relative w-[100%] h-[100%]">13</div>
	</div> -->
    <div id="tile1" class="itemCust item1">
      <!-- <BrowserMockup classes="relative w-full h-full" /> -->
      <div class="w-full h-full">
        <div class="flex justify-center">
          <span
            class="absolute top-[20%] font-black text-4xl subpixel-antialiased text-zinc-200"
            >Hover a tile.<br />Try it
          </span>
          <span
            class="animate-bounce absolute ml-[3rem] top-[45%] font-black text-4xl subpixel-antialiased text-zinc-200"
          >
            👉</span
          >

          <!-- <div class="font-black text-2xl subpixel-antialiased mt-10">
          Drag each item
        </div> -->
        </div>
      </div>
    </div>
    <div id="tile2" class="itemCust item2 itemCustMockup shadow-lg">
      <PhoneMockup2
        imgKey="sanut-ilokano-thumb.jpg"
        classes="relative"
        wh="w-full h-full"
        orientation="landscape"
      />
    </div>
    <!-- <div class="itemCust item3">
		<div class="relative w-[100%] h-[100%]">3</div>
	</div> -->
    <div class="itemCust item4 itemCustMockup shadow-lg">
      <!-- <div class="relative w-[100%] h-[100%]">4</div> -->
      <PhoneMockup
        imgKey="matigsalug-thumb.jpg"
        classes="relative"
        wh="w-full h-full"
        orientation="landscape"
      />
    </div>
    <div class="itemCust item5 itemCustMockup shadow-l shadow-lg">
      <!-- <div class="relative w-[100%] h-[100%]">5</div> -->
      <PhoneMockup2
        imgKey="taallam-thumb.jpg"
        classes="relative"
        wh="w-full h-full"
        orientation="landscape"
      />
    </div>
    <div class="itemCust item6">
      <div class="relative w-[100%] h-[100%]">6</div>
    </div>
    <div class="itemCust item7 itemCustMockup shadow-lg">
      <div class="relative w-[100%] h-[100%]">
        <!-- <BrowserMockup classes="relative w-full h-full" /> -->
        <div class="flex justify-center text-slate-50 window-content">
          <!-- <div class="absolute top-[40%]">
            
            <span class="font-black text-6xl subpixel-antialiased">Hi 👋</span>
          </div> -->
          <ImageImporter imgKey="educo-thumb.webp" />
        </div>
      </div>
    </div>
    <div class="itemCust item8 itemCustMockup shadow-lg">
      <div class="relative w-[100%] h-[100%]">
        <PhoneMockup2
          imgKey="kaalam-thumb.jpg"
          classes="relative"
          wh="w-full h-full"
        />
      </div>
    </div>
    <div class="itemCust item9">
      <div class="relative w-[100%] h-[100%]">9</div>
    </div>
    <div class="itemCust item10 itemCustMockup shadow-lg">
      <div class="relative w-[100%] h-[100%]">
        <WindowMockup imgKey="" classes="relative w-full h-full" />
      </div>
    </div>
    <div class="itemCust item11">
      <div class="relative w-[100%] h-[100%]">11</div>
    </div>
    <div class="itemCust item12">
      <!-- <div class="relative w-[100%] h-[100%]">12</div> -->
      <div class="relative w-[100%] h-[100%]">
        <PhoneMockup
          imgKey="katatagan-thumb.webp"
          classes="relative"
          wh="w-full h-full"
        />
      </div>
    </div>
    <div class="itemCust item13">
      <div class="relative w-[100%] h-[100%]">13</div>
    </div>
  </div>
</div>
<!-- <OldGrid /> -->

<!-- <NavBar /> --><!-- <CardPreview
	href="https://docs.astro.build/"
	title="Documentation"
	body="Learn how Astro works and explore the official API docs."
	group="GitHub"
	tags={["C#", "Windows"]}
/> --><!-- <div class="flex justify-center gap-20">
	<div>
		<StackedCards
			heading="GitHub"
			colors={["bg-primary", "bg-accent", "bg-secondary"]}
		/>
	</div>
	<div>
		<StackedCards
			heading="Client Work"
			colors={["bg-accent", "bg-secondary", "bg-primary"]}
		/>
	</div>
	<div>
		<StackedCards
			heading="Products"
			colors={["bg-secondary", "bg-primary", "bg-accent"]}
		/>
	</div>
</div> --><!-- <Footer /> -->
<style>
  body {
    /* overflow: hidden; */
    overflow-y: auto;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  body::-webkit-scrollbar {
    display: none;
  }

  #tile1 {
    opacity: 1;
    background-color: transparent;
    border: 0;
  }

  #gridShuffleAlertContainer {
    visibility: hidden;
  }

  .containerCust {
    position: relative;
    visibility: hidden;
  }
  .itemCust {
    position: absolute;
    width: 300px;
    height: 500px;
    background-color: rgb(250, 235, 215, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(250, 235, 215, 0);
    border-radius: 8px;
    /* color: antiquewhite; */
    z-index: 1;
    padding: 5px;
    margin: 5px;
    opacity: 0.25;
  }

  .itemCustMockup:hover {
    opacity: 1;
  }

  .itemCust.muuri-item-hidden {
    z-index: 0;
  }

  .itemCust.muuri-item-positioning {
    z-index: 2;
  }

  .itemCust.muuri-item-releasing {
    z-index: 3;
  }
  .itemCust.muuri-item-dragging {
    z-index: 4;
  }

  .containerCust .item1 {
    height: 200px;
    width: 350px;
  }
  .containerCust .item2 {
    width: 600px;
    height: 300px;
  }
  .containerCust .item4 {
    width: 600px;
    height: 300px;
  }

  .containerCust .item5 {
    width: 600px;
    height: 600px;
  }
  .containerCust .item6 {
    height: 600px;
  }

  .containerCust .item8 {
    width: 600px;
    height: 600px;
  }

  .containerCust .item7 {
    /* width: 600px; */
    height: 275px;
    width: 300px;
  }

  .containerCust .item10 {
    width: 600px;
  }

  .containerCust .item11 {
    height: 400px;
  }
</style>
